In [1]:
import pandas_datareader.wb as wb
data = wb.download(
    indicator='SE.PRM.TENR',
    country=['all'],
    start=2002,
    end=2016
)

C:\Users\Admin\AppData\Local\Temp\ipykernel_2856\417502995.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data = wb.download(

In [2]:
data

                                  SE.PRM.TENR
country                     year
Africa Eastern and Southern 2016          NaN
                            2015          NaN
                            2014          NaN
                            2013          NaN
                            2012          NaN
...                                       ...
Zimbabwe                    2006          NaN
                            2005          NaN
                            2004          NaN
                            2003     89.68554
                            2002     90.32824

[3990 rows x 1 columns]